* {
  box-sizing:border-box;
}
body {
  background-color: #940000;
  text-align: center;
  font-family: "Lucida Sans", sans-serif;
}
.header{
  width: 100%;
  background-color: #B80000;
  float: left;
}
.main{
  background-color: #B80000;
  width: 40%;
  height: 220px;
  float: left;
  letter-spacing: 2px;
}
.aside{
  background-color: #B80000;
  width: 60%;
  height: 220px;
  float: right;
}
div{
  background-color: #DE1B1B;
}
.footer{
  color: white;
  float: left;
  width: 100%;
}
#table1{
  margin-left: 25%;
  border: 3px dashed black;
}
.divj{
  float: left;
  width: 100%;
}
.divd{
  float: left;
  width: 100%;
}

.td{
  width: 300px;
  height: 260px;
}
th{
  width: 560px;
  height: 360px;
}

h1{
  color: white;
}
h2{
  color: #E6E6E6;
}
a{
  text-decoration: none;
  color: #E6E6E6;
}
a:hover{
  color: black;
}
#jeden{
  color: white;
}
p{
  color: #E6E6E6;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  text-align: center;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

@media screen and (max-width:1200px) {
  .aside {width:50%;
  height: 660px;
  float: right;
  clear: both;
  letter-spacing: 2px;
 } 
  .main {
    width: 50%;
    float: right;
    height: 420px;
    font-size: 19px;
  }
  .divj {width:50%;
      height: 1080px;
      float: left;
      margin-top: -420px;
     }
  }

@media screen and (max-width:700px) {
    .header{
      width: 100%; 
    }
    .main{
      width: 100%;
      height: 340px;
    }
    .aside{
      width: 100%;
      letter-spacing: 0;
    }
    .divj{
      width: 100%;
      height: 580px;
    }
    .divd{
      width: 100%;
    }
    .footer{
      width: 100%;
    }
    body{
      float: none;
    }
  }
