html{
  background-color: #17DBFF;
}
header, nav{
  background-color: #1573EB;
}
header{
  width: 80%;
  float: left;
  text-align: center;
  color: #E6E6E6;
}
main{
  background-color: #1474C7;
  width: 100%;
  height: 300px;
  float: left;
  color: #E6E6E6;
}
aside{

}
footer{
  text-align: center;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
